<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.dao.NewMapper">


    <insert id="addNew" parameterType="News" useGeneratedKeys="true" keyProperty="newid">
        insert into newdb.news(newid,title,author,source,content,time)
        values (#{newid}, #{title}, #{author}, #{source}, #{content},#{time})
    </insert>


    <delete id="deleteNew" parameterType="Integer">
        delete from newdb.news where newid=#{newid}
    </delete>


    <update id="updateNew" parameterType="News">
        update newdb.news
        set title = #{title},author = #{author},source = #{source},content=#{content}
        where newid = #{newid}
    </update>

    <select id="queryNewId" resultType="News">
        select * from newdb.news
        where newid = #{newid}
    </select>


    <select id="queryNew" resultType="News">
        SELECT * from newdb.news
    </select>

</mapper>